<%- include ("partials/header")%>
<a style="color: white; font-size: 20px;" href="/">&larr; Back</a>
<div class="register-layout">
  <div style="padding-top: 0; padding-bottom: 20px;" class="dash_head">
    <p class="dash_p">Register</p>
  </div>
  <%- include ("partials/messages")%>
  <div class="form">
    <form action="<%="/users/register/" + user + "/"%>" method="POST" class="form form-register" enctype="multipart/form-data" autocomplete="off">
      <div class="form-entries">
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter Name"
          value="<%= typeof name != 'undefined' ? name : '' %>"
        />
      </div>
      <div class="form-entries">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter Your Mail ID"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />
      </div>
      <div class="form-entries">
        <input
          type="password"
          name="password1"
          id="password1"
          placeholder="Enter Your Passsword(Minimum 6 charcters)"
        />
      </div>
      <div class="form-entries">
        <input
          type="password"
          name="password2"
          id="password2"
          placeholder="Confirm your password"
        />
      </div>
      <div class="form-entries">
        <input
          type="text"
          name="imageCaption"
          id="imageCaption"
          placeholder="Enter the Image Caption"
        />
      </div>
      <div class="form-entries">
        <input
          type="number"
          name="contact"
          id="contact"
          placeholder="Enter your Contact Number"
        />
      </div>
      <div class="form-entries">
        <input
          type="text"
          name="address"
          id="address"
          placeholder="Enter your Address"
        >
      </div>
      <div class="form-entries">
        <input
          type="number"
          name="age"
          id="age"
          placeholder="Enter your Age"
        />
      </div>
      <div class="form-entries">
        <input
          type="text"
          name="occupation"
          id="occupation"
          placeholder="Enter your Occupation"
        />
      </div>
      <div class="form-entries">
      <input type="file" name="file" id="file">
      <label for="file" class = "label">Add Profile Image</label><br>
    </div>
    <div class="form-entries">
      <button style="margin-right: 25%;" type="submit" class="sub_btn alter">Submit</button>
    </div>
    </form>
  </div>
  <div class="alter">
    Already have an Account? <a href="/users/login">Login</a>
  </div>
</div>

<%- include ("partials/footer")%>

