<%- include ("partials/header")%>

<div class="register-layout">
  <div style="padding-top: 0; padding-bottom: 20px;" class="dash_head">
    <p class="dash_p">Update</p>
  </div>
  <%- include ("partials/messages")%>
  <div class="form">
    <form action="<%="/users/update/" + data._id + "/"%>" method="POST" class="form form-register" autocomplete="off">
      <div class="form-entries">
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter Name"
          value="<%= typeof data.name != 'undefined' ? data.name : '' %>"
        />
      </div>
      <div class="form-entries">
        <input
          type="text"
          name="imageCaption"
          id="imageCaption"
          placeholder="Enter the Image Caption"
          value="<%= typeof data.imageCaption != 'undefined' ? data.imageCaption : '' %>"
        />
      </div>
      <div class="form-entries">
        <input
          type="number"
          name="contact"
          id="contact"
          placeholder="Enter your Contact Number"
          value="<%= typeof data.contact != 'undefined' ? data.contact : '' %>"
        />
      </div>
      <div class="form-entries">
        <input
          type="text"
          name="address"
          id="address"
          placeholder="Enter your Address"
          value="<%= typeof data.address != 'undefined' ? data.address : '' %>"
        >
      </div>
      <div class="form-entries">
        <input
          type="number"
          name="age"
          id="age"
          placeholder="Enter your Age"
          value="<%= typeof data.age != 'undefined' ? data.age : '' %>"
        />
      </div>
      <div class="form-entries">
        <input
          type="text"
          name="occupation"
          id="occupation"
          placeholder="Enter your Occupation"
          value="<%= typeof data.occupation != 'undefined' ? data.occupation : '' %>"
        />
      </div>
      <div class="form-entries">
        <button style="margin-right: 25%;" type="submit" class="sub_btn alter">Submit</button>
      </div>
    </form>
  </div>
  <div class="alter">
    Already have an Account? <a href="/users/login">Login</a>
  </div>
</div>

<%- include ("partials/footer")%>


